<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberSec Connect</title>
    <link rel="stylesheet" href="\css\styles.css" />
    <script src="app.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8"/>
  </head>

  <body>
    <div class="header">
      <a class="logo" href="/">CyberSec <a class="logo-orange" href="/">Connect</a>
      <div class="header-right">
        <a href="/newConnection">Start a new connection</a>
        <a href="/index">Login</a>
        <a href="/index">Sign Up</a>
      </div>
    </div>

    <br /><br /><br />
    <div class="header-bottom">
      <a href="/connections">Connections</a>
    </div>
