<%- include('./partials/header.ejs')%>

<div class="about">
    <h3>About CyberSec Connect</h3>
    <p>CyberSec Connect is a webapp designed to provide students with a way to connect with eachother. Use the application to create, edit, delete, and view connections created
        by you or your peers.

        This application was created by Chase Bonhotel as part of the ongoing class project for ITIS 4166 at UNC Charlotte.
    </p>
</div>

<%- include('./partials/footer.ejs')%>