<%- include('./partials/header.ejs')%>
<div class="contact">
    <h3>Contact Us</h3>
    <p>I, Chase Bonhotel, can be contacted with questions about this application by email or phone.</p>
    <p class="contact-email">cbonhote@uncc.edu</p>
    <p class="contact-phone">(999) 999-1234</p>
</div>
<%- include('./partials/footer.ejs')%>