<%- include('./partials/header.ejs')%>

<div class="error-page">
    <h3>Oops, there was an error.</h3>
    <p>The application encountered an error while loading that page or resource. Please visit the contact us page for information on how to report this error.</p>
    <a href="/contact" class="error-link">Contact Us</a>
</div>

<%- include('./partials/footer.ejs')%>