<%- include('./partials/header.ejs')%>

    <div class="welcome">
      <h3>Welcome to CyberSec Connect.</h3>
      <p>
        Use this website to create event and connect with others in the
        cybersecurity field. Find a person to study with, find a conference or
        event, or any other event you can think of. Thank you for visiting
        CyberSec Connect!
      </p>
      <p>View connections under the 'connections' tab above.</p>
    </div>

<%- include('./partials/footer.ejs')%>
