* {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  position: fixed;
  background-color: #1a2238;
  color: white;
  padding: 8px 12px;
  width: 97.5%;
}

.logo {
  font-size: 27px;
  font-weight: bold;
}
.logo-orange {
  font-size: 22px;
  font-weight: bold;
  color: #ff6a3d;
}

a {
  text-decoration: none;
  color: white;
}

.header-right {
  display: inline;
  float: right;
  margin: 0 15px;
  overflow: hidden;
  padding-top: 7px;
  padding-right: 7px;
}
.header-right a {
  padding-right: 12px;
}

.header-right a:hover {
  color: #9daaf2;
  font-weight: bold;
}

.header-bottom {
  background-color: #1a2238;
  padding: 8px 10px;
  width: 98.5%;
  font-size: 18px;
}

.header-bottom a:hover {
  color: #9daaf2;
  font-weight: bold;
}

footer {
  background-color: #1a2238;
  color: #ff6a3d;
  display: inline;
  padding: 8px 10px;
}

.footer-link {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-link:hover {
  color: #9daaf2;
  font-weight: bold;
}

.welcome {
  margin: 9%;
  font-size: 30px;
  text-align: justify;
}

.connections-content {
  margin: 10%;
}

.connection-catagory {
  list-style: none;
  font-size: 25px;
}

.connection-heading {
  font-size: 30px;
}

.connection-link {
  color: black;
}

.connection-link:hover {
  color: #ff6a3d;
  font-weight: bold;
}

.connection-detail-content {
  margin: 9%;
}

.connection-logo {
  width: 400px;
  float: right;
}

.connection-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.button {
  background-color: #1a2238;
  padding: 6px;
}

.button:hover {
  color: #9daaf2;
  font-weight: bold;
}

.connection-information {
  font-weight: bold;
  font-size: 18px;
}

.connection-detail-header {
  font-size: 30px;
  font-weight: bold;
  color: #ff6a3d;
  text-align: center;
}

.new-connection-content {
  margin: 9%;
}

.connection-details {
  text-align: justify;
  font-size: 18px;
  padding-top: 5px;
}

.new-connection-content form {
  font-size: 22px;
  width: 50%;
}

.new-connection-content label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-bottom: 10px;
  text-align: center;
}

.new-connection-content input {
  font-size: 18px;
  width: 300px;
}

.new-connection-header {
  font-size: 30px;
  color: #ff6a3d;
}

.submit-button {
  background-color: #1a2238;
  color: white;
  padding: 6px 12px;
  margin-left: 105px;
  border-style: none;
}

.submit-button:hover {
  color: #ff6a3d;
  font-weight: bold;
  cursor: progress;
}

textarea {
  color: gray;
  font-size: 18px;
}

.about {
  margin: 9%;
  font-size: 30px;
  text-align: justify;
}

.about h3 {
  color: #ff6a3d;
}

.contact {
  margin: 9%;
  font-size: 20px;
  text-align: justify;
}

.contact h3 {
  color: #ff6a3d;
  font-size: 40px;
}

.contact-email, .contact-phone {
  color:#9daaf2;
}

.error-page {
  margin: 9%;
  font-size: 20px;
  text-align: justify;
}

.error-page h3 {
  color:#ff6a3d;
  font-size: 50px;
}

.error-page a {
  text-decoration: none;
  color:#9daaf2;
}

.edit-form {
  margin: 9%;
  font-size: 50px;
  text-align: justify;
}
